@model Vidly.ViewModels.EmployeesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employees</h2>
<p>
    @Html.ActionLink("ADD EMPLOYEE", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table id="employees" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Role</th>
            <th>Delete</th>
        </tr>        
    </thead>
    <tbody>
        @foreach (var user in Model.ApplicationUsers)
        {
            <tr>
                @*<td>@(user.FirstName + " " + user.LastName)</td>*@
                <td>@Html.ActionLink($"{user.FirstName} {user.LastName}", "Details", "Employees", new { id = user.Id }, new { @id = "update-user" })</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>@Model.UserRole[user]</td>
                <td>@Html.ActionLink("Delete", "Delete", "Employees", new { id = user.Id }, new { @id = "delete-user" })</td>
            </tr>
        }
    </tbody>
</table>
